.App {
  text-align: center;
  padding-top: 50px;
}
ul {
  list-style-type: none;
  padding-left: 0;
}

.companyCards {
 margin-bottom: 10px;
}
.companyCardsPos{
  margin-bottom: 10px;
  border-color: green !important;
}
.companyCardsNeg {
  margin-bottom: 10px;
  border-color: red !important;
}

.sidebar {
  margin-right: 30px;
}


