.App {
  text-align: center;
  padding-top: 50px;
  font-size: 20px;
}
ul {
  list-style-type: none;
  padding-left: 0;
}

.companyCards {
 margin-bottom: 10px;
}
.companyCardsPos{
  margin-bottom: 10px;
  border-color: green !important;
  background-color: rgb(137, 199, 137) !important;
}
.companyCardsNeg {
  margin-bottom: 10px;
  border-color: red !important;
  background-color: rgb(253, 125, 125) !important;
}

.sidebar {
  margin-right: 30px;
}
.backgroundGreen{
  text-align: start;
  color: rgb(137, 199, 137);
  margin-left: 20px;
}
.backgroundRed {
  text-align: start;
  color: rgb(253, 125, 125);
  margin-left: 20px;
}
.textNeg {
  color: rgb(253, 125, 125);
}
.textPos {
  color: rgb(137, 199, 137);
}
.textBlack {
  color: black;
}



